/* @font-face {
  font-family: "Avenir";
  src: url("~@/assets/Avenir-Book.ttf") format("ttf");
} */

body {
  margin: 0;
}

table {
  border-spacing: 10px 0px;
  margin-left: -10px;
}

.bodyContainer {
  background: #ffffff33;
  padding: 15px;
  border-top: 1px solid #c1c1c1;
}

.leftMargin10 {
  margin-left: 10px;
}

.smallTopBottomMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.emptyAccordionParentBody {
  margin-top: 0;
}

.overflowXContainer {
  overflow-x: auto;
  margin-top: 15px;
}

.bits {
  position: relative;
  margin: 10px;
  margin-left: 0;
  font-size: 14px;
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background: $freshBlue;
  break-after: auto;
}

.bits :deep(select) {
  color: white;
  background: $freshBlue;
}

.floatingPointInput{
  margin: 10px 0;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: $transparentWhite;
  position: relative;
}

 /* .fpOperationContainer {
  text-align: center; 
} */

.fpOperationTable{
  margin: auto;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: stretch;
  text-align: center;
}

.floatingPointFormatSelection {
  text-align: center;
}

.bits selectBox {
  width: 80% !important;
  border: none;
  background-color: transparent;
}

.mobile_bits {
  height: 40px;
  line-height: 40px;
  color: white;
  background: $freshBlue;
  border-right: 1px solid white;
}

.mobile_bits :deep(select) {
  color: white;
  background: #0d336f;
}

.mobile_bits selectBox {
  width: 60% !important;
  border: none;
  background-color: transparent;
  color: white !important;
}

ul {
  padding-bottom: 0;
  margin-bottom: 0;
}

#exerciseField {
  width: calc(100% - 30px);
  display: block;
  margin: 15px auto;
  text-align: justify;
  background: $transparentWhite;
  padding: 10px 15px;
  border-radius: 10px;
  white-space: pre-line;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button{
  height: 36px;
  padding: 0 10px;
  border: 1px solid $freshBlue;
  background: $freshBlue;
  border-radius: 6px;
  color: white;
  border: none;
  line-height: 36px;
  position: relative;
  cursor: pointer;

  &:hover{
    background: white;
    color: $freshBlue;
  }
}

input{
  font-size: 16px !important;
  background: white;
  border-radius: 6px;
  border: 1px solid #dfe1e59e;
  color: #70757A!important;
  font-size: 14px !important;
  height: 36px;
  line-height: 28px;
  padding: 0 0 0 12px;

  &:disabled{
    background: transparent;
  }

  &::placeholder {
    color: #aaa;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #273849;
  padding-bottom: 0.7em;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.attention {
  background: $lightPurple;
  border-left: 4px solid $purple;
  display: inline-block;
  text-align: left;
  height: 40px;
  line-height: 40px;
  padding-left: 45px;
  position: relative;
  box-sizing: border-box;
  width: 663px;
  margin: auto;

  &::before  {
    position: absolute;
    margin: auto;
    left: 15px;
    color: $purple;
    font-family: IonIcons;
    content: '\f104';
    font-size: 24px;
    display: block;
  }
}

@media screen and (max-width: 470px) {
  .attention {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .attention {
    width: 100%;
  }
}
