button{
  height: 36px;
  width: 70px;
  background: $freshBlue;
  border-radius: 6px;
  color: white;
  border: none;
  line-height: 28px;
  position: relative;
  cursor: pointer;

  &:hover{
    background: white;
    color: $freshBlue;
    border: 1px solid $freshBlue;
  }
}

input{
  font-size: 16px !important;
  background: white;
  border-radius: 6px;
  border: 1px solid #DFE1E5;
  color: #70757A!important;
  font-size: 14px !important;
  height: 36px;
  line-height: 28px;
  padding: 0 0 0 12px;

  &:disabled{
    background: transparent;
  }

  &::placeholder {
    color: #aaa;
  }
}

h3{
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  color: #273849;
  margin-top: 10px;
  padding-bottom: 0.7em;
}