$freshBlue: #0d336f; // #0f213e;
$brightBlue: #0d336f; // #2D3D99;
$lightBlue: #b0c8f5;
$transparentWhite: #ffffff8a;
$lightPurple: #efe7fd;
$purple: #5b13ec;
$freshYellow: #faaf49; // #f1c40f;
$darkYellow: #c37a16;
$freshRed: #fd4136;
$lightRed: #fb9690;
$lightGreen: #1abc9c;
$lightAzure: #49e7c8;
$darkGreen: #2c3e50;