$freshBlue: #0d336f; // #0f213e;
$brightBlue: #0d336f; // #2D3D99;
$lightBlue: #b0c8f5;
$lightPurple: #efe7fd;
$purple: #5b13ec;
$freshYellow: white; // #f1c40f;
$freshRed: #fd4136;
$lightGreen: #1abc9c;
$darkGreen: #2c3e50;